   
  body{
    padding-left: 120px;
    padding-right: 120px;

  }
  
        
.nav{ 
    background-color: rgb(28, 159, 192);
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    
}
ul {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    
}

a {
    text-decoration: none;
}
video{
    margin-top: 60px;
    
}
.about {
    display: flex;
    justify-content: space-around;
    gap: 5%;
}
.footer{  
    background-color: rgb(28, 159, 192);
    display: flex;
    justify-content: space-around;
    gap: 5%;
}
.image{
   
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
} 
p{
    width: 300px;
}
